<div class="modal-header">
  <h4 class="modal-title pull-left">Game over!</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="gameOverModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Score: <b>{{score}}</b></p>
    <div class="form-group">
      <label for="exampleInputEmail1">Player Name</label>
      <input type="text" class="form-control" placeholder="Jon Doe" [(ngModel)]="player">
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submit()">Submit Highscore</button>
  <button type="button" class="btn btn-warning" (click)="gameOverModalRef.hide()">Cancel</button>
</div>