<div class="card" style="border: 0">

  <h1 class="text-center">Snake</h1>
  <h3 class="text-center">CurrentScore: <b>{{snake.length}}</b></h3>

  <div class="game card" style="padding: 10px;">
    <div class="row" *ngFor="let row of rows">
      <div class="cell" *ngFor="let cell of row.cells" [class.snake]="cell === 0" [class.fruit]="cell === 1" [class.blank]="cell === 2">
      </div>
    </div>
  </div>

  <div style="margin: 30px auto">
    <button [disabled]="running || gameOver" class="btn btn-success" (click)="startGame()">{{!isNewGame ? "Resume" : "Start"}}</button>
    <button [disabled]="!running" class="btn btn-info" (click)="pauseGame()">Pause</button>
    <button [disabled]="isNewGame" class="btn btn-warning" (click)="resetGame()">Reset</button>
  </div>


</div>