@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";

.text-center{
    text-align: center;
}

.game{
    margin: auto;
    display: block;
}

.row{
    display: flex;
    margin: auto;
}

.cell{
    border: 0.5px solid white;
    width: 25px;
    height: 25px;
}

.snake{
    background: #d9534f;
}

.blank{
    background: #292b2c;
}

.fruit{
    background: #28a745; 
}