@import '~bootstrap/dist/css/bootstrap.min.css';

.text-center{
    text-align: center;
}

.game{
    margin: auto;
    display: block;
}

.row{
    display: flex;
    margin: auto;
}

.cell{
    border: 0.5px solid white;
    width: 25px;
    height: 25px;
}

.start-game-button{
    margin-top: 30px;
}

.snake{
    background: red;
}

.blank{
    background: black;
}

.fruit{
    background: green;
}